node_modules/
.env
*.log
npm-debug.log*

# Environment files
.env
.env.production

# Archivos temporales
uploads/*
!uploads/.gitkeep
downloads/*
!downloads/.gitkeep
llaves/*
!llaves/.gitkeep

# OS files
.DS_Store
Thumbs.db